<div class="home-container">

  <div class="card-section">
    <div class="card" routerLink="/start-training">
      <img src="assets/images/start-training.jpg" alt="Start training">
      <h1>Start training</h1>
    </div>

    <div class="card">
      <img src="assets/images/adjust-training.jpg" alt="Adjust training">
      <h1>Adjust training</h1>
    </div>

    <div class="card">
      <img src="assets/images/training-history.jpg" alt="Training history">
      <h1>Training history</h1>
    </div>
  </div>
  
  <div class="social-zone">
    <h1>Social zone</h1>
    <img src="assets/images/social-zone.jpg" alt="Social zone">
  </div>
  
  <div class="calendar-section">
    <h1>Contribution Calendar</h1>
    <div class="calendar"></div>
  </div>
</div>