.card-section {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: var(--primary-font);
  font-size: var(--font-size-h1);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
  
.card {
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  border-radius: 1rem;
  border: solid 0.1rem var(--secondary-text);
  background-color: white;
  /*background-image: url('path/to/image.jpg');*/
  background-size: cover;
  background-position: center;
  position: relative;
}

.home__card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0.5rem;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.calendar-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .calendar{
      background-image: url('../../img/temp/calendario.png');
      height: 200px;
      width: 700px;
  }
}

.social-zone{
  display: flex;
  align-items: center;
  flex-direction: column;
}

