// Variáveis de cor 
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$primary-background-color: #00b140;
$secondary-background-color: #ffcb00;
$neutral-color: #f5f5f5;
$error-color: #ff0000;

// Variáveis de fonte
$font-h1: 'Montserrat', sans-serif;
$font-h2: 'Open Sans', sans-serif;
$font-p: 'Roboto', sans-serif;

// Variáveis de espessura de fonte
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-normal: 400;

// Variáveis de tamanho de fonte
$font-size-h1: 3.5rem;
$font-size-h2: 2.5rem;
$font-size-p: 1.6rem;